html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}

li.contacts{
    display:inline;
    word-spacing: 250px;
}
header{
    background: white;
}
.title{
    color: cadetblue;
    text-align: center;
}
/*body{
    height: 100%;
    background-color: #cccccc;
    background-image: linear-gradient(black, darkblue);
}*/
.red{
    background-color: red;
}
